@font-face {
    font-family: 'Perfograma';
    src: url('../assets/fonts/Perfograma.otf');
}

@font-face {
    font-family: 'modern';
    src: url('../assets/fonts/modern.ttf');
}

html {
    background-color: #ffe4c2;
    /*background-color: #FDF9F0;*/
    border-left: dashed rgba(0, 0, 0, 0.5);
    border-right: dashed rgba(0, 0, 0, 0.5);
    border-width: 10px;
    height: inherit;
    min-height: 100%;
}

body {
    font-size: 50px;
    background-color: #ffe4c2;
    font-family: 'montserrat';
    text-align: center;
    height: inherit;
}

.container {
    background-color: #ffe4c2;
    /*background-color: #FDF9F0;*/

    border-left: dashed;
    border-right: dashed;
    border-width: 5px;
    width: auto;
    height: inherit;
}

h1 {
    /*font-size: .25em;*/
    font-family: 'Perfograma';
    letter-spacing: 15px;
    word-spacing: 8px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    /*color: red;*/
    color: red;
}

h2 {
    margin-top: 0;
    text-align: left;
    font-size: 2em;
}

h3 {
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0px;
}

hr {
    border-color: black;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 35px;
}

.modal-dialog{
    position: relative;
    display: table; //This is important
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.modal-content{
  background-color: #ffe4c2;


}


/*hr.left {


  width: 80%;

}

hr.right {
  ;
  width: 80%;
}*/

a {
    color: black;
}

a:hover {
    color: red;
}

a:visited {
    color: black;
}

.color1 {
    color: #ffe4c2;
}

.color2 {
    color: red;
}

.color3 {
    color: black;
}

#CW {
    opacity: .45;
    height: 100%;
}

.blink {
    font-size: 20px;
}

p::selection {
    color: green;
}

#nav {
    /*font-family: 'carosello';*/
    margin-bottom: 30px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

span {
    cursor: pointer;
    text-decoration: none;
}

.bold {
  font-weight: bold;
  font-size: 1.25em;
}

#face {
    zoom: 2;
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: 90%;
    max-width: 100%;
    opacity: 0;
}

#picdiv {
    margin-top: 75px;
    max-height: 90%;
    height: 90vh;
}

#bioDiv {
    text-align: left;
    font-size: .35em;
    height: 90vh;
    margin-top: 75px;
    font-family: ;
    text-indent: 50px;
}

#moreButton {
    cursor: pointer;
    text-decoration: none;
}

.projDiv {
    font-size: .35em;
    text-align: left;
    width: 65%;
    margin: 0 auto;
    height: 90vh;
    color: black;
    margin-top: 75px;
}

.projDesc {
    margin-top: 10px;
    font-weight: 100;
}

.projURL {
    margin-top: 0;
}

.appName {
    font-size: .5em;
    text-align: left;
}

#resDiv {
    font-size: .25em;
    text-align: left;
    height: 90vh;
    margin: 0 auto;
    margin-top: 40px;
    width: 70%;
}


#resumeBody {
    margin-top: 40px;
}

.resH2 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 25px;
}

ul {
  padding-left: 13px;
}

.resInfo {
    margin-top: 0px;
}


.coName {
    font-size: 1.35em;
    font-weight: bold;
    margin-bottom: 0;

}

.title {
  font-weight: bold;
  font-size: 1.2em
}


#konDiv {
    font-size: .35em;
    text-align: center;
    height: 90vh;
    margin-top: 75px;
}

.faIcons {
    margin-left: 5px;
    margin-right: 5px;
}

.email {
    text-align: center;
}

.fa {
    color: black;
    font-size: 40px;
}

.fa:hover {
    color: red;
}

.fa-download {
    text-align: center;
    width: 100%;
}

footer {
    font-size: .15em;
    display: block;
    margin-top: 75px;
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 414px) {
    h1 {
        font-size: .5em;
        margin-bottom: 0;
    }
    .blink {
        font-size: 2.5vw;
        padding: 0;
    }
    #resjpg {
        display: none;
    }
    #nav {
        margin-bottom: 0;
    }
}
