html {
    background-color: #ffe4c2;
    border-left: dashed rgba(0, 0, 0, 0.5);
    border-right: dashed rgba(0, 0, 0, 0.5);
    border-width: 10px;
    height: inherit;
    min-height: 100%;
}

@font-face {
    font-family: 'Perfograma';
    src: url('../assets/fonts/Perfograma.otf');
}

@font-face {
    font-family: 'modern';
    src: url('../assets/fonts/modern.ttf');
}

body {
    background-color: #ffe4c2;
    font-family: 'montserrat';
    text-align: center;
    height: 100%;
}

.container {
    background-color: #ffe4c2;
    border-left: dashed;
    border-right: dashed;
    border-width: 5px;
    width: auto;
    height: 100%;
}

h1 {
    font-family: 'Perfograma';
    font-size: 50px;
    letter-spacing: 15px;
    word-spacing: 8px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
}

#CW {
    opacity: .45;
}

.blink{
    color: #ffe4c2;
    font-size: 20px;
}


#nav {
   /* font-family: 'Perfograma';*/
    margin-bottom: 30px;
    height: 100%;
}


span {
    cursor: pointer;
    text-decoration: none;
    color: black;
}


#face {
    zoom: 2;
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: 90%;
    max-width: 100%;
    opacity: 0;
    color: red;
}

#picdiv {
    margin-top: 75px;
    max-height: 90%;
}

.fa {
    font-size: 3em;
    color: black;
}


.fa:hover {
    color: red;
}


#bioDiv {
    text-align: left;
    font-size: 1em;
    height: 100vh;
    margin-top: 75px;
    font-family: ;
}


#moreButton {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

#moreButton:hover {
    color: red;
}

#projDiv {
    text-align: left;
    height: 100vh;
    margin-top: 75px;
    font-size: 1em;
}

.appLeft {
    margin-left: 50px;
    color: black;
}

.appName {
    font-weight: bold;
    font-size: 1.25em;
}

a {
    color: black;
}

a:hover {
    color:red;
}

#resDiv {
    text-align: center;
    height: 100vh;
    margin-top: 40px;
}
#resumeBody {
    margin-top: 40px;
}

.download {
    font-size: .4em;
    margin-left: 50px;
    color: gray;
}

#konDiv {
    text-align: center;
    font-size: 1em;
    height: 100vh;
    margin-top: 75px;
}
.email {
    text-align: center;
}


footer {
    display: block;
    margin-top: 75px;
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
}
